# -*- coding: utf-8 -*-
from __future__ import absolute_import, division, unicode_literals

from datetime import timedelta
import os

SECRET_KEY = "..."

SENTRY_DSN = "..."

CELERY_BROKER_URL = "amqp:///themyarchive"
CELERYD_HIJACK_ROOT_LOGGER = False

SQLALCHEMY_DATABASE_URI = "postgresql+psycopg2://themylogin:themylogin@localhost/themyarchive"
SQLALCHEMY_ECHO = True

CACHE_TYPE = "redis"

DOCKER_URL = "unix://var/run/docker.sock"
DOCKER_IMAGE = "themyarchive-chrome"
CHROME_PATH = os.path.join(os.path.dirname(__file__), "../docker/google-chrome/chrome.tar")

ARCHIVE_PATH = os.path.join(os.path.dirname(__file__), "../data")
ARCHIVE_URL = "http://archive.thelogin.ru/data"
ARCHIVE_URL_DATETIME_FORMAT = "%Y-%m-%d_%H-%M-%S"

MAX_FILE_SIZE = 256e6
MIN_INTERVAL = timedelta(days=1)
RESOLUTIONS = [(1024, 768), (1440, 900), (1920, 1080)]
